<!--The content below is only a placeholder and can be replaced.-->
<form>
    <div id="wrap">
     <h1 class="member">Admin Login</h1>
     <div class="form">
      <div class="form2">
       <div class="form3">
        <label for="user">Id</label><input type="text" id="user">
        <div class="clear"></div>
        <label for="user">Password</label><input type="password" id="user">
       </div>
       <input type="submit" value="Log in">
       <div class="clear"></div>
       <div class="form4">
        
        <div class="clear"></div>
        
        <!--<label><input type="button" value="Sign Up"></label>-->
       
        
       </div>
      </div>
     </div>
    </div>
   </form>
  
  