<app-bar></app-bar>
  <div class ="form" *ngIf="userDetails">
              <form #putForm="ngForm" (ngSubmit)="onSubmit(putForm)"  > 
              
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userDetails._id">
                <div class="row"  >
                  <div class="input-field col s12">
                    <input type="text" name="fullName" #name="ngModel" [(ngModel)]="userDetails.fullName" placeholder="이름" required>
                   
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="email" #name="ngModel" [(ngModel)]="userDetails.email" placeholder="이메일">
                 
                  </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                      <input type="password" name="password" #name="ngModel" [(ngModel)]="userDetails.password" placeholder="비밀번호">
                   
                    </div>
                  </div>
                
                  
                  <button class="btn btn-default" type="submit" [disabled]="!putForm.valid">수정</button>
               
            
           
              </form>
            </div>
            

     

            
  
            
  
  