

<div id ="wrep">
  <div class="container">
    <div class="form">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
<h1> 환영합니다 <br>
공지사항을 꼭 읽어주세요! </h1>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
       
          <h2 class="post-title">
     누구나 팔고자하는 물건을 올려 판매하는 사이트입니다.
          </h2>
          <h3 class="post-subtitle">
            
          </h3>

        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on September 24, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
  
          <h2 class="post-title">
          부적절한 물건판매시 관지라의 제제가 있을예정입니다.
          </h2>

        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on September 18, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
       
          <h2 class="post-title">
    많은이용 부탁드립니다.
          </h2>
          <h3 class="post-subtitle">
          꼭 판매가 아니여도 구매자도 이용할수있는 사이트입니다.
          </h3>
           <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on August 24, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
    
          <h2 class="post-title">
           연락처
          </h2>
          <h3 class="post-subtitle">
            궁금한 사항이나 도움이 필요한경우 010-5107-4090으로 연락주십시요.
          </h3>
 
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on July 8, 2017</p>
      </div>
      <hr>
      <!-- Pager -->
     
    </div>
  </div>
</div>