


<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  <div class ="form">
    <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email"  placeholder="Email" [pattern]="emailRegex" required
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
    <div *ngIf="signInForm.submitted && email.errors?.pattern">
      <label class="validation-message">Invalid email address.</label>
    </div>

    <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password"  placeholder="Password"
    required minlength="6"   [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="email.errors.pattern" class="validation-message">올바르지 않은 이메일 형식입니다.</label>
    </div>
    <input type="submit"  value="Sign In" > 
    
    
    <a [routerLink]="['/','sign-up']" class="nav-link">Sign up</a>
  
    
</div>

  </form>


 







