
<table *ngIf="userDetails" class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Username</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr>
 
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
 
  </tbody>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">프로필 수정</button>
    </div>
  </div>

</table>
