<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">





      <form>
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input class="form-control" name="username" placeholder="Name" type="text"  onkeyup="showHint(this.value)">
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        
        <input type="submit" class="btn btn-primary btn-block" name="submit" value="Login" >
        <!-- <a class="btn btn-primary btn-block" href="tables.php" name="submit">Login</a> -->
      </form>


      <div class="text-center">
        <a [routerLink]="['/','signup']" class="d-block small mt-3" >Register an Account</a>

       




      </div>
    </div>
  </div>
</div>