
  <form>
    <div id="wrap">
     <h1 class="member">프로필
     </h1>
     <div class="form">
      <div class="form2">
       <div class="form3">
       
        <table id="boardWrite">
            <caption class="readHide">비밀번호 수정</caption>
            <tbody>
     
  
  
              <tr>
                <th scope="row"><label for="pass">새 비밀번호</label></th>
                <td class="pass"><input type="text"></td>
                <div class="btnSet">
  
                    <button type="submit" class="btnSubmit btn" href="profile_update.php?del=<?=$id?>">
                     수정
                    </button>
              
                  </div>
              </tr>
  
            </tbody>
        
          </table>
      
       <div class="form4">
        

        
        <!--<label><input type="button" value="Sign Up"></label>-->
       
        
       </div>
      </div>
     </div>
     </div>
     </div>
     
 
   </form>