

<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <div class ="form">
    <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Username"
    required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
    <div *ngIf="signUpForm.submitted && !fullName.valid">
      <label class="validation-message">필수 항목입니다.</label>
    </div>
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
    required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <div *ngIf="signUpForm.submitted && email.errors">
      <label *ngIf="email.errors.required" class="validation-message">필수 항목입니다.</label>
      <label *ngIf="email.errors.pattern" class="validation-message">올바르지 않은 이메일 형식입니다.</label>
    </div>
    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
    minlength="6" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    <div *ngIf="signUpForm.submitted && password.errors">
      <label *ngIf="password.errors.required" class="validation-message">필수 항목입니다.</label>
      <label *ngIf="password.errors.minlength" class="validation-message">비밀번호는 6글자 이상 입력해주세요.</label>
    </div>
 
    <input type="submit"  value="Sign Up" >
 
</div>
  </form>


